<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title><%=title%></title>
</head>
<body>
    <div>
        <ul>
            <% for (let i of contact-list-new){%>
                <p><%=i.phone%></p>
                <p><%=i.name%></p>
            <%}%>
        </ul>
    </div>
    <form action="/create-contact" method="POST"></form>
    <input type="text" name="name" placeholder="enter name" required>
    <input type="text" name="phone" placeholder="enterPhone" required>
    <button>add contact</button>
</body>
</html>